# Multi-Label Multi-Class Classification with Scikit-Learn's OneVsRestClassifier and LinearSVC

In [ ]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

X_train = np.array(["new york is a hell of a town", "new york was originally dutch",
                    "the big apple is great", "new york is also called the big apple",
                    "nyc is nice", "people abbreviate new york city as nyc",
                    "the capital of great britain is london", "london is in the uk",
                    "london is in england", "london is in great britain", "it rains a lot in london",
                    "london hosts the british museum", "new york is great and so is london",
                    "i like london better than new york"])

print('X_train\n', X_train, '\n')

y_train_text = [["new york"],["new york"],["new york"],["new york"],["new york"],
                ["new york"],["london"],["london"],["london"],["london"],
                ["london"],["london"],["new york","london"],["new york","london"]]

print('y_train_text\n', y_train_text, '\n')

X_test = np.array(['nice day in nyc',
                   'welcome to london',
                   'london is rainy',
                   'it is raining in britian',
                   'it is raining in britian and the big apple',
                   'it is raining in britian and nyc',
                   'hello welcome to new york. enjoy it here and london too'])

y_test_text = [["new york"], 
               ["london"], 
               ["london"], 
               ["london"], 
               ["new york", "london"],
               ["new york", "london"],
               ["new york", "london"]
               ]

mlb = MultiLabelBinarizer()
y_train_binarised = mlb.fit_transform(y_train_text)
y_test_binarised = mlb.fit_transform(y_test_text)
target_names = mlb.classes_
print('y_train_binarised\n', y_train_binarised, '\n')
print('target_names:', target_names, '\n')

classifier = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', OneVsRestClassifier(LinearSVC()))])

classifier.fit(X_train, y_train_binarised)
predicted = classifier.predict(X_test)
all_labels = mlb.inverse_transform(predicted)

print('\nPredictions (test set):\n')
inputs=[]
label_strings=[]
for item, labels in zip(X_test, all_labels):
  inputs.append(item)
  label_string = ', '.join(labels)
  label_strings.append(label_string)

test_predictions = pd.DataFrame({'input_string':inputs, 'label_string':label_strings})
test_predictions

X_train
 ['new york is a hell of a town' 'new york was originally dutch'
 'the big apple is great' 'new york is also called the big apple'
 'nyc is nice' 'people abbreviate new york city as nyc'
 'the capital of great britain is london' 'london is in the uk'
 'london is in england' 'london is in great britain'
 'it rains a lot in london' 'london hosts the british museum'
 'new york is great and so is london' 'i like london better than new york']

y_train_text
 [['new york'], ['new york'], ['new york'], ['new york'], ['new york'], ['new york'], ['london'], ['london'], ['london'], ['london'], ['london'], ['london'], ['new york', 'london'], ['new york', 'london']]

y_train_binarised
 [[0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [1 0]
 [1 0]
 [1 0]
 [1 0]
 [1 0]
 [1 0]
 [1 1]
 [1 1]]

target_names: ['london' 'new york']


Predictions (test set):

                                        input_string      label_string
0                                    nice day in nyc          new york
1                                  welcome to london            london
2                                    london is rainy            london
3                           it is raining in britian            london
4         it is raining in britian and the big apple          new york
5                   it is raining in britian and nyc  london, new york
6  hello welcome to new york. enjoy it here and l...  london, new york

In [ ]:
print("Accuracy Score: ", accuracy_score(y_test_binarised, predicted))
print('')
print("Precision (micro): ", precision_score(y_test_binarised, predicted, average='micro'))
print("Recall (micro): ", recall_score(y_test_binarised, predicted, average='micro'))
print("F1 (micro): ", f1_score(y_test_binarised, predicted, average='micro'))
print('')
print("Precision (macro): ", precision_score(y_test_binarised, predicted, average='macro'))
print("Recall (macro): ", recall_score(y_test_binarised, predicted, average='macro'))
print("F1 (macro): ", f1_score(y_test_binarised, predicted, average='macro'))

Accuracy Score:  0.8571428571428571

Precision (micro):  1.0
Recall (micro):  0.9
F1 (micro):  0.9473684210526316

Precision (macro):  1.0
Recall (macro):  0.9166666666666667
F1 (macro):  0.9545454545454546

In [ ]:
all_test_labels = mlb.inverse_transform(y_test_binarised)
print('true labels for test set:\n')
all_test_labels

true labels for test set:

[('new york',),
 ('london',),
 ('london',),
 ('london',),
 ('london', 'new york'),
 ('london', 'new york'),
 ('london', 'new york')]

In [ ]:
inputs=[]
true_label_strings=[]
for item, labels in zip(X_test, all_test_labels):
  inputs.append(item)
  label_string = ', '.join(labels)
  true_label_strings.append(label_string)
  print(item, ' - Truth:', label_string)

nice day in nyc  - Truth: new york
welcome to london  - Truth: london
london is rainy  - Truth: london
it is raining in britian  - Truth: london
it is raining in britian and the big apple  - Truth: london, new york
it is raining in britian and nyc  - Truth: london, new york
hello welcome to new york. enjoy it here and london too  - Truth: london, new york

In [ ]:
preds_and_actuals = test_predictions
preds_and_actuals['truth'] = true_label_strings
preds_and_actuals

                                        input_string  ...             truth
0                                    nice day in nyc  ...          new york
1                                  welcome to london  ...            london
2                                    london is rainy  ...            london
3                           it is raining in britian  ...            london
4         it is raining in britian and the big apple  ...  london, new york
5                   it is raining in britian and nyc  ...  london, new york
6  hello welcome to new york. enjoy it here and l...  ...  london, new york

[7 rows x 3 columns]